{% extends "layout.html" %}
{% block content %}
  <h1>Contacts</h1>
  <form action="/contacts">
    <input type="search" name="q" value="{{ request.GET.q }}">
  </form>
  <ul id="results">
    {% for contact in contacts %}<li>{{ contact.name }} - {{ contact.email }}</li>{% endfor %}
  </ul>
  <div>
    {% if contacts.has_previous %}<a href="{{ contacts.paginator.previous_page_url }}">Previous</a>{% endif %}
    {% if contacts.has_next %}<a href="{{ contacts.paginator.next_page_url }}">Next</a>{% endif %}
  </div>
{% endblock content %}
